/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END css reset*/

body {
	background-color: #eeeff1;
}

#menu
 {
 	float: left;
	width: 64px;
	height: 100vh;
	background-color: black;
}

#logo
 {
 	float: left;
	height:64px;
	width: 100%;
	background-color: red;
	text-align: center;
}

#logo img
{
	padding-top: 8px;
	width: 33%;
	height: auto;
}

#menu-items  {
	width: 100%;
	text-align: center;
	float: left;
}
#menu-items a {
  padding-top: 35px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
#menu-items a:hover {
  color: #f1f1f1;
}
#menu-items #menu-txt {
	font-size: 12px;
}
#menu-items #green-menu-item {
	background-color: rgb(36, 169, 99);
	width: 40px;
	height: 28px;
	padding-top: 8px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 20px;
}
#menu-items #green-menu-item a {
	padding-top: initial;
	color: #f1f1f1;
}

hr {
	display: block;
	border: 0;
	border-top: 2px solid rgb(28,28,28);
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

#top-bar {
	background-color: #e7e8e9;
	border-bottom: 1px solid rgb(216, 217, 219);
}
#top-bar div {
	float: left;
}
#main {
	color: white;
    width: calc(100% - 334px);
    float: left;
}
#client-name {
	min-width:110px;
	max-width:130px;
	height:40px;
	background-color: #0d6cdf;
	margin-left: 25px;
	margin-top: 12px;
	text-align: center;
	line-height:40px;
	border-radius: 1px;
	padding-right: 20px;
}

#timer {
	min-width:90px;
	height:40px;
	background-color: #0e5ebf;
	text-align: center;
	line-height:40px;
	margin-top: 12px;
}
.fa-pause-circle {
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

#appointments {
	padding-left: 20px;
}
#apt-img-container {
	position: relative;
}
.apt-img.apt-img-1 {
	margin-left: initial;
	left: 15px;
	z-index: 1;
}
.apt-img.apt-img-2 {
	left: 30px;
	z-index: 2;
}
.apt-img.apt-img-3 {
	left: 45px;
	z-index: 3;
}
.apt-img.apt-img-4 {
	left: 60px;
	z-index: 4;
}
.apt-img.apt-img-5 {
	left: 75px;
	z-index: 5;
}
.apt-img {
	margin-top: 15px;
	border: 2px solid white;
	width: 32px;
	position: absolute;
	border-radius: 50%;
	-webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
	filter: blur(1px);
}
.apt-img:hover {
	-webkit-filter: brightness(100%);
	filter: initial;
	z-index: 9999;
	cursor: pointer;
}

.top-bar-text {
	line-height: 64px;
	color: #7e7e7f;
}

#top-bar{
	height: 64px;
}

#top-bar #right-top-bar {
	float: right;
}


#top-bar #search {
    padding-left: 25px;
    padding-top: 24px;
    padding-right: 35px;
}

#top-bar #search i{
	color: #7e7e7f;
}

.active-text {
	padding-right: 16px;
}

#invoice{
	color: #7e7e7f;
	width:210px;
	height:40px;
	margin-top: 12px;
	text-align: center;
	line-height:40px;
	border: 2px solid rgb(219,220,221);
}

#invoice-icon {
	border-right: 2px solid rgb(219,220,221);
    width: 40px;
}

#right-panel
 {
 	float: right;
	width:270px;
	height: 100vh;
	background-color: white;
	text-align: center;
	color: #7e7e7f;
}

#top-right-panel {
	height: 64px;
	line-height: 64px;
}
#client-name-calendar {
	padding-right: 16px;
	padding-left: 8px;
	position: relative;
	top: 2px;
}

#prof-img-container {
	display: inline-block;
	position: relative;
	width:32px;
	height:32px;
}
#green-circle {
	top:16px;
	right:0;
	position: absolute;
	background: rgb(26,218,1);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid white;
}
.yellow-circle {
	top:60px;
	left:38px;
	color: white;
	border: 1px solid white;
	position: absolute;
	background: rgb(255,174,0);
	font-size: 12px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
}

#profile-name {
	color: black;
	margin-top: 20px;
	font-size: 24px;
}

#prof-img-container img {
	vertical-align: middle;
	width: 32px;
	height: 32px;
	border-radius: 50%;
}
#profile-img {
	border-radius: 50%;
	border: 4px solid rgb(232, 232, 232);
	width:120px;
}
#profile-info {
	height: 128px;
	position: relative;
}
#profile-info i {
	color: rgb(207, 207, 207)
}

#alerts-icon {
	float: left;
	padding-top: 57px;
	padding-left: 28px;
}

#emails-icon {
	float: right;
	padding-top: 57px;
	padding-right: 28px;
}

.arrow {
	border: 1px solid #7E7E7F;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	cursor: pointer;
}

button {
	cursor: pointer;
	background-color: initial;
	border: none;
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	float: right;
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	float: left;
}
.border-left-arrow {
	border: 1px solid rgb(225, 225, 225);
	border-radius: 50%;
	background: initial;
	padding: 9px;
	padding-left: 11px;
	vertical-align: text-bottom;
}
.border-right-arrow {
	border: 1px solid rgb(225, 225, 225);
	border-radius: 50%;
	background: initial;
	padding: 9px;
	padding-right: 11px;
	vertical-align: text-bottom;
}
#calendar-month-arrow-container {
	margin-bottom: 20px;
}

#calendar-img-container #cal-img {
	padding-top: 50px;
	width:140px;
	height:auto;
}

#calendar-txt {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
}
#month {
	font-size: 18px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
}

.cal-divider {
	border-top: 3px solid rgb(236,236,236);
}

#year {
}

#calendar-dates {
	padding-top: 10px;
    margin: 0 auto;
    width: 245px;
}

#calendar-row {
	margin-bottom: 20px;
	text-align: center;
	height: 35px;
}

#calendar-row div {
	float: left;
	width: 35px;
	height:35px;
	line-height:35px;
	font-size: 16px;
	color: #818181;
}
#calendar-row button {
	float: left;
    width: 35px;
	height:35px;
	line-height:35px;
    font-size: 16px;
    color: #818181;
	border: none;
	background-color: initial;
	position: relative;
}


#calendar-row .past-month-date {
	color: rgb(228, 228, 228);
}

#calendar-row #active-date {
	color: white;
	background-color: rgb(36, 169, 99);
	border-radius: 50%;
}
#calendar-row.active-row {
	background-color: rgb(243, 243, 243);
	border-radius: 40px;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}

.cal-menu-button {
	width: 100%;
	border-top: 3px solid rgb(236, 236, 236);
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	color: rgb(73, 74, 75);
}

.cal-menu-button .arrow{
	margin-top: 3px;
}

.cal-dot {
	top:28px;
	right: 19px;
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: rgb(48, 131, 255);
}
.cal-dot-yellow {
	background: rgb(255,174,0);
}

.cal-dot-2 {
	right: 8px;
}

.cal-menu-button .yellow-circle {
	top:14px;
	left:60px;
	color: white;
	position: absolute;
	border: none;
	background: rgb(255,174,0);
	font-size: 12px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
}

#main-content {
	width:calc(100% - 160px);
	margin:0 auto;
}

#current-path {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgb(216, 217, 219);
	color: rgb(189, 189, 189);
	font-weight: bold;
}
#current-path a{
	color: rgb(189, 189, 189);
	text-decoration: none;
}

#apt-box {
	margin-top: 20px;
	background-color: white;
	min-height: 300px;
	border: 1px solid rgb(210, 211, 213);
	display: inline-block;
}

#apt-box-prof-pic {
	width: 128px;
	text-align: center;
	padding-top: 32px;
	float:left;
	height: calc(100% - 32px);
}

#apt-box #apt-box-info {
	color: #818181;
	width: calc(100% - 158px);
	float:left;
	padding-top: 32px;
	padding-left:15px;
	padding-right: 15px;
}

#apt-box-name {
	color: black;
	font-size: 28px;
	padding-bottom: 15px;
}
#apt-box-description {
	padding-bottom: 20px;
	width: 75%;
}

.fa-refresh {
	color: rgb(255,174,0);
	font-size: 20px;
	padding-left: 15px;
}

#apt-box-cal-date {
	color: rgb (96, 96, 96);
	padding-bottom: 8px;
}

#apt-box-hour-time {
	color: rgb (96, 96, 96);
	padding-bottom: 8px;
}

#apt-box-deposit {
	color: rgb(34, 167, 34);
}

#apt-box-info .cal-divider {
	width: 94%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
}

#filt-menu-btn {
	border: 1px solid rgb(238, 238, 238);
	width: 200px;
	height: 40px;
	color: #818181;
	text-align: left;
	padding-left: 20px;
	margin-bottom: 20px;
}
#filt-menu-btn .arrow {
	float:right;
	margin-right:15px;
}

#complete-assignment-btn {
	border: 1px solid rgb(238, 238, 238);
	width: 200px;
	height: 40px;
	color: white;
	background-color: rgb(220, 37, 37);
	margin-bottom: 20px;
}
#apt-header {
	margin-top:40px;
	color: black;
	font-size: 26px;
	margin-bottom: 40px;
}

#apt-header .fa-calendar{
	color: rgb(96, 96, 96);

}

.confirmed-span {
	color: rgb(34, 167, 34);
	margin-left: 30px;
	border: 1px solid rgb(34,167,34);
	border-radius: 50px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 30px;
}
.confirmed-span .fa-check-circle {
	padding-right: 15px;
}
.apt-det-span {
	margin-left: 15px;
}

.form-divider.cal-divider {
	border-top: 3px solid rgb(217, 217, 219);
}

.form-section {
	float: left;
	width: 50%;
}
.form-section label{
	color: #818181;
	line-height: 48px;
}

.field-container {
	width: 100%;
	height: 48px;
}

.field-container input {
	height: 40px;
	background: initial;
	border: 1px solid rgb(212, 213, 215);
	width: calc(90% - 106px);
	padding-left: 10px;
}
.label-container {
	width: 86px;
	float: left;
	text-align: right;
	padding-right: 20px;
}

.success {
    color: rgb(34,167,34);
}
#desktop-menu-txt {
	color: white;
	margin-top: 30px;
}

@media screen and (max-width: 1300px) {
	#right-top-bar {
		width: 100%;
	}
	#top-bar #appointments {
		padding-right: 135px;
		float:right;
	}
	#top-bar #search {
		float: right;
	}
	#top-bar {
		height: 132px;
	}
	.active-text {
		margin-left: 25px;
	}
}
#menu-items #mobile-menu {
	display: none;
}

@media screen and (max-width: 1200px) {
	#main-content {
		width: calc(100% - 80px);
	}
}
@media screen and (max-width: 925px) {
	.confirmed-span {
		display: block;
		margin-top: 15px;
		margin-left: 0px;
	}
	#apt-header .fa-calendar {
		display: none;
	}
	.form-section {
		width: 100%;
	}
}
@media screen and (max-width: 880px) {
	#menu {
		width:100%;
	}
	#logo {
		display: none;
	}
	#menu-items #green-menu-item {
		display: none;
	}

	#menu-items #mobile-menu {
		display: block;
	}
	#desktop-menu-txt {
		display: none;
	}
	#menu-items a {
		font-size:36px;
		padding-bottom: 20px;
	}
	#menu-items-container {
		display:none;
	}
	#menu {
		height: initial;
	}
	#menu-items hr {
		display:none;
	}

	#main { width: 100%; }

	#appointments {
		width: 100%;
		padding-top: 5px;
	}
	#search {
		width: 100%;
	}
	#top-bar {
		height: 240px;
	}
	#right-panel {
		width: 100%;
	}
	#calendar-dates {
		width: 350px;
	}
	#calendar-row div {
		width: 50px;
		height: 40px;
	}
	#calendar-row button {
		width: 50px;
		height: 40px;
	}
	.cal-dot {
		top: 35px;
		right: 25px;
	}
	.cal-dot-2 {
		right: 15px;
	}
	#top-bar #search {
		float: left;
	}
}
